head
  title
    flowBox

template(name="flows")
  .flow-container
    each flows
      h3.flowTitle(contentEditable="true")
        |!{title}
      ul
        +flow(this)
        
template(name="shared")
  button.btn
  h3.flowTitle(contentEditable="true")
    |#{title}
  +flow
  
template(name="flow")
  a(id=_id data-trigger="click hover" data-toggle="popover" data-content=flowMenu)
    i.fa.fa-circle-o.flow-bullet
  li
    div.flowTitle(contentEditable="true")
      |!{title}
    if val
      .flowBox(contentEditable="true")
        |!{val}
  if children.count
    li
      ul
        each children
            +flow(this)
