head
  title
    flowBox

template(name="layout")
  #content
    +yield
  
template(name="flows")
  h1 #{title}
  .flow-container
    ul
      each children
        +flow
  
template(name="flow")
  a(id=_id data-trigger="click hover" data-toggle="popover" data-content=flowMenu)
    i.fa.fa-circle-o.flow-bullet
  li
    div.flowTitle(contentEditable="true")
      |!{title}
    if val
      .flowBox(contentEditable="true")
        |!{val}
  if children.count
    li
      ul
        each children
            +flow(this)
